@font-face {
/*Fira Code font: https://github.com/tonsky/FiraCode*/
  font-family: 'Fira Code';
  src: url("../assets/fonts/firaCode/FiraCode-Regular.eot");
  src: url("../assets/fonts/firaCode/FiraCode-Regular.eot") format('embedded-opentype'), url("../assets/fonts/firaCode/FiraCode-Regular.woff2") format('woff2'), url("../assets/fonts/firaCode/FiraCode-Regular.woff") format('woff'), url("../assets/fonts/firaCode/FiraCode-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e2022;
  font-family: 'Fira Code';
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  color: #f5f4f4;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .text-container .text {
  font-size: 44px;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 1px 1px 3px rgba(30,32,34,0.3);
}
.container .contact-info {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
}
.container .contact-info a {
  color: #0091fd;
  text-decoration: none;
}
@media only screen and (max-width: 560px) {
  .container .text-container .text {
    font-size: 32px;
  }
  .container .contact-info {
    font-size: 20px;
  }
}
